<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Add/Edit Course</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header" class="text-center">
      <h1>Add/Edit Course</h1>
    </div>
    <center style="margin-top: 3em;">
      <svg width="15%" height="15%" viewBox="0 0 16 16" class="bi bi-journal-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
	<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
	<path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </center>
    <div class="main">
      <form action="/addCourse" method="post" class="pane-center" id="addCourseForm">
	<h1 class="h4 mb-3 font-weight-normal">Enter Course Information</h1>
      {% csrf_token %}
        <br>
          {% for error in errors %}
              <p class="alert alert-danger">
              {{ error }}
              </p>
          {% endfor %}
        <label for="course" class="sr-only">Course:  </label>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
		<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
	    </svg></span>
	  </div>
          <input type="text" name="course" placeholder="Course">
	</div>
        <label for="courseNumber" class="sr-only">Course#: </label>

	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1">#</span>
	  </div>
          <input type="number" name="courseNumber" placeholder="Course Number">
	</div>
        <label for="semester" class="sr-only">Semester: </label>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
	    </svg></span>
	  </div>
          <input type="text" name="semester" placeholder="Semester">
	</div>
        <label for="year" class="sr-only">Year: </label>
	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
	    </svg></span>
	  </div>
          <input type="number" name="year" placeholder="Year">
	</div>
{#        <!-- hidden input element to submit the javascript-processed list of user IDs -->#}
{#        <input type="hidden" name="addUsers" id="usersHiddenInput">#}
{#	<label for="usersIGNORE">Enroll Initial Users: </label>#}
{#	<select name="usersIGNORE" class="form-control" id="newEnrollments" multiple>#}
{#            {% for i in users %}#}
{#              <option value="{{ i.id }}">{{i.user_username}}</option>#}
{#              {% endfor %}#}
{#          </select><center>Hold control to select multiple.</center><br>#}
        <button type="submit" class="btn btn-success">Add Course</button>
	    <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>
    </form>
    </div>

    <!-- Bootstrap framework  -->
    <script src="static/js/jquery-3.5.1.slim.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      $('#addCourseForm').submit(function() {
          var selectedValues = '';
          var selectMultipleEl = document.getElementById('newEnrollments');

          // extract the selected elements from the select multiple and form a string
          for (var i=0; i < selectMultipleEl.options.length; i++) {
              if ( selectMultipleEl.options[i].selected) {
                  if (selectedValues.length > 0)
                      selectedValues += ',';

                  selectedValues += selectMultipleEl.options[i].value;
              }
          }
          document.getElementById('usersHiddenInput').value = selectedValues;
      });
    </script>
  </body>
</html>
