<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Add/Edit User</title>
      <link rel="stylesheet" href="static/css/bootstrap.css">
      <link href="static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

      <div id="header" class="text-center">
	<h1>Add/Edit User</h1>
      </div>

      <center style="margin-top: 3em;">
	<svg width="15%" height="15%" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
	  <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	</svg>
      </center>
      
      <form action="{% url 'adduser' %}" method="post" class="pane-center">
	{% csrf_token %}
	<h1 class="h4 mb-3 font-weight-normal">Enter User Information</h1>
          {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
          {% endif %}
        <div class="">  
          <label for="name" class="sr-only">Full name: </label>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
		  <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	      </svg></span>
	    </div>
	    <input type="text" id="name" placeholder="Full name..." name="fullname" required>
	  </div>
          <label for="name"  class="sr-only">Username: </label>

	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
		  <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
	      </svg></span>
	    </div>
	    <input type="text" id="username" placeholder="Username..." name="username" required>
	  </div>

	  <label for="name"  class="sr-only">Password: </label>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="basic-addon1"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		  <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
	      </svg></span>
	    </div>
	    <input type="password" id="username" placeholder="Password..." name="password" required>
	  </div>
	  
	  <div class="form-check-inline">
	    <div class="input-group mb-3">
	      <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Role:</span>
	      </div>
	      <div class="radio-button-group">
		<input type="radio" id="Instructor" name="role" value="Instructor" class="form-check-input" required>
		<label for="Instructor" class="form-check-label">Instructor</label>
		<input type="radio" id="TA" name="role" value="TA" class="form-check-input">
		<label for="TA" class="form-check-label">TA</label>
	      </div>
	    </div>
	  </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>
      </form>
    </body>
</html>
