<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Admin</title>
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<link href="static/style.css" rel="stylesheet" type="text/css" />
	</head>

	<div id="header" class="text-center">
	<h1 style="visibility: hidden;">Delete Users</h1>
	</div>
<body>
    <form action="{% url 'deleteCourse' %}" method="post" class="pane-center">
        <h1>Select Course to delete</h1><br>
        {% csrf_token %}<br>

            <label for="courseLabel">Course :</label>
                <select name="Course">
                    {% for i in courses%}
                        <option value="{{ i.id }}">{{ i.courseName }}</option>
                    {% endfor %}
                </select><br>

         <button type="submit" class="btn btn-success">Delete Course</button>
         <button type="button" class="btn btn-secondary" onclick="window.location.href='/adminPage';">Cancel</button>

     </form>
</body>
</html>