<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Syllabus</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
	</head>    <body>
        <div id="header" class="text-center syllabusViewHeader">
            {% if error %}
                <p class="alert alert-danger">{{ error }}</p>
            {% else %}
        <h1 style>{{ section.courses }}</h1>
        <h2>Section {{ section.section_number }}</h2>
        <h3>{{ course.semester }} {{ course.year }}</h3>
            {% endif %}
        </div>
        {% if "Not found" in error %}
            <center><br>
            <svg xmlns="http://www.w3.org/2000/svg" width="15%" height="15%" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
</svg>
            <br><br><h1>Not Found.</h1></center>
        {% else %}
            <div id="syllabusView">
                <center>
                <div>
                    <table class="courseInfos", style="float:left">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ info.myName }}</td>
                            </tr>
                            <tr>
                                <td>{{ info.email }}</td>
                            </tr>
                            <tr>
                                <td>Office hours: </td>
                                <td>{{ info.day}} {{ info.timeFrom }} - {{ info.timeTo }}</td>
                            </tr>
                            <tr>
                                <td>Office location: </td>
                                <td>{{ info.officeLocation }}{{ info.officeNumber }}</td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>Lectures:</td>
                                <td>{{ section.day }}</td>
                            </tr>
                            <tr>
                                <td>Meeting time: </td>
                                <td>{{ section.timeFrom }} to {{ section.timeTo }}</td>
                            </tr>
                            <tr>
                                <td>Room:</td>
                                <td>{{ section.class_room }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="courseInfos">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lab in labs %}
                            <tr>
                                <td>Lab Section {{ lab.section_number }} </td>
                            </tr>
                            <tr>
                                <td>TA: </td>
                                <td>{{ lab.users.info.myName }} | {{ lab.users.info.email }}</td>
                            </tr>
                            <tr>
                                <td>Office hours: </td>
                                <td>{{ lab.users.info.day}} {{ lab.users.info.timeFrom }} - {{ lab.users.info.timeTo }}</td>
                            </tr>
                            <tr>
                                <td>Office location: </td>
                                <td>{{ lab.users.info.officeLocation }}{{ lab.users.info.officeNumber }}</td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
                </center>
                <div style="float:left">
                    <br><br>
                    {% for policy in policies %}
                    {{ policy.policies | safe }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      <!-- Bootstrap framework  -->
      <script src="/static/js/jquery-3.5.1.slim.min.js" type="text/javascript"></script>
      <script src="/static/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    </body>
</html>