<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Instructor Page</title>
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<link href="static/style.css" rel="stylesheet" type="text/css" />
	</head>

	<div id="header" class="text-center">
	<h1 style="visibility: hidden;">InstructorPage</h1>
	</div>
	<body>
    <h2><b><center>Instructor Page</center></b></h2><br><br>
    <h3><i><b>My Courses :</b></i></h3><br>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>Courses</th>
                <th>Section Number</th>
			    <th></th>
              </tr>
			</thead>
			<tbody>
				{% for course in courses %}
			    <tr>
				    <td>{{ course.courses }}</td>
                    <td>{{ course.section_number }}</td>
                    <td><button id="syllabus" class="btn btn-dark" onclick="window.location.href='/syllabus/{{ course.courses.year }}/{{ course.courses.semester }}/{{ course.courses.courseNumber }}';">Syllabus</button></td>
			    </tr>
                {% endfor %}
			</tbody>
		  </table><br>
          <button id="policy" class="btn btn-dark" onclick="window.location.href='/addPolicy';">New Policy</button>
		  <button id="personalInfo" class="btn btn-dark" onclick="window.location.href='/AddPersonalInfo';">Edit Your Info</button>
		  <button id="logout" class="btn btn-dark" onclick="window.location.href='/';">Logout</button><br>
	</body>
</html>
