@font-face {
    font-family: Quicksand;
    src: url('Quicksand-VariableFont_wght.ttf');
}

body {
    background: url('images/background-texture.png');
    font-family: Quicksand;
}

#header {
    width: 100%;
    background: url('images/color-texture.png');
    padding: .5em 0em 0em .5em;
    border-bottom: .2em #1c7a54 solid;
    margin-bottom: .5em;
    text-shadow: 1px 1px darkgray;
    box-shadow: 0px 1px 1px gray;
    font-weight: 900;
}

#header h1{
    display: inline-block;
}

#header #logout {
    float: right;
    margin: .3em;
}

/*
.color{
  background-color: lightblue;
  margin: auto;
  width: 50%;
  border-radius: 25px;
}

h1{
  text-align: center;
  font-family: Quicksand,'Courier New', Courier, monospace;
}

.main{
  background-color: lightblue;
  width: 25%;
  height: 33%;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 25px;
}

.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.centerSubmit{
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translate(-50%,-65%);
}

label{
  float: left;
  width: 15%

}
*/

/* code used from example https://getbootstrap.com/docs/4.5/examples/sign-in */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* end code used from exampple */

.form-signin {
    background-color: #f6f6f6;	
    padding: 5em 1em;
    border-radius:  5px;
    border: 1px solid gray;
    box-shadow: -5px 0px 0px skyblue,  5px 0px 0px skyblue;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.form-signin button {
    position: relative;
    top: 3em;
}

.form-signin .bi-person-square {
    margin: 0 0 1em 0px;
}

button svg {
    margin-left: 3px;
    margin-bottom: 2px;
}

.page-title-alt {
    margin: 3em;
}

.page-title-alt h1 {
    margin-top: .2em;
}

.pane {
    background: #f6f6f6;
    border: 1px solid gray;
    padding: 1em 1em;

    margin-top: 2em;
}

.pane center svg {
    float: left;
}

#users-pane h2 {
    background-image: url('images/bootstrap-icons-1.1.0/person-lines-fill.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#courses-pane h2 {
    background-image: url('images/bootstrap-icons-1.1.0/journal-text.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#sections-pane h2 {
    background-image: url('images/bootstrap-icons-1.1.0/calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.pane-center {
    background: #f6f6f6;
    border: 1px solid gray;
    padding: 1em 1em;

    display: inline-block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 0px -2px 0px gray, 0px 2px 0px gray;
}

.radio-button-group {
    background-color: #e9ecef;
    padding: .5em 5px;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px 3px 3px 0px;
}

.radio-button-group label{
    margin-right: .7em;
}

.syllabusViewHeader h1 {
    font-weight: 900;
    transform: scale(1.4,1.4);
}
.syllabusViewHeader h2 {
    font-weight: 900;
    transform: scale(1.4,1.4);
}
.syllabusViewHeader h3 {
    font-weight: 900;
    transform: scale(1.4,1.4);
}

#syllabusView {
    padding: 3% 8%;
}

.courseInfos {
    font-size: large;
    font-weight: bold;
}
